.titles{
    color: #30231d;
    font-family: 'Merriweather Sans';
    font-size: 66px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: -4px;
    margin-bottom: 72px;
}
.simpletext{
    color: #1e3046;
    font-family: 'Baloo';
    font-size: 66px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.01em;
    margin-bottom: 72px;
    position: relative;
}
.titles2{
    color: #111;
    font-family: 'Amaranth';
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 60px;
    padding-left: 100px;
    position: relative;
} 

.titles2:before {
    background: #111;
    content: '';
    display: block;
    height: 60px;
    left: 0px;
    position: absolute;
    top: 10px;
    width: 6px;
}
.beautifulT{
    color: #111;
    font-family: 'Cormorant Garamond';
    border-bottom: 3px solid #e66c7e;
    font-size: 30px;
    font-weight: 50;
    line-height: 72px;
    letter-spacing: 15px;
    margin-bottom: 50px;
    text-align: center;
    text-indent: 20px;
    text-transform: uppercase
}